DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_REFRESH_TOKEN_COOKIE=

KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=
KAKAO_ADMIN_KEY=

REDIS_HOST=
REDIS_PORT=

ADDRESS_VERIFICATION_URL=
ADDRESS_VERIFICATION_KEY=

FRONTEND_DOMAIN=
DEVELOP_SERVER_DOMAIN=
PROD_SERVER_DOMAIN=

ENCRYPTION_ALGORITHM=
ENCRYPTION_SECRET_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=