DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

JWT_SECRET=
JWT_REFRESH_TOKEN_COOKIE=

KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=
KAKAO_ADMIN_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_CONNECT_TIMEOUT=
REDIS_MAX_POOL=

ADDRESS_VERIFICATION_URL=
ADDRESS_VERIFICATION_KEY=

FRONTEND_DOMAIN=
DEVELOP_SERVER_DOMAIN=
PROD_SERVER_DOMAIN=

ENCRYPTION_ALGORITHM=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=



ENCRYPTION_SECRET_KEY_V1=
ENCRYPTION_SECRET_KEY_V2=
ENCRYPTION_SECRET_KEY_V3=

RATE_LIMIT_USER_CAPACITY=
RATE_LIMIT_USER_REFILL_RATE=
RATE_LIMIT_IP_CAPACITY=
RATE_LIMIT_IP_REFILL_RATE=

DISCORD_WEB_HOOK=
